:host {
    --checkbox-background: #f0f0f0;
}

.checkbox-container lightning-input {
    --slds-c-checkbox-color-background: var(--checkbox-background);
    --slds-c-checkbox-color-background-checked: var(--checkbox-background);
    --slds-c-checkbox-mark-color-foreground: #ffffff;
    --slds-c-checkbox-color-border: #1a73e8;
}

/* Styling for label above */
.checkbox-container.label-above {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 4px;
    gap: 8px;
}

/* Styling for label beside */
.checkbox-container.label-beside {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.checkbox-container.label-beside lightning-input .slds-form-element__control {
    margin-right: 4px;
}

.checkbox-container.label-above lightning-input .slds-form-element__label {
    margin-bottom: 8px;
}